@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@media (min-width: 1024px) {
  body {
    padding: 0 0em;
  }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
}

.block-btn,
.block {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #f5f0f0;
}

.block {
  border-bottom: 1px solid #d63031;
}

@keyframes textAlpha {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

nav {
  animation-name: textAlpha;
  animation-duration: 2s;
}

.carritoPos {
  justify-content: end;
}


.btn-more {
  padding: 6px 15px;
  color: #fafafafa;
  border-radius: 20px;
}
.btn-more:hover {
  background: #b1b0b0;
  color: #000 !important;
}

.btn-more2 {
  padding: 6px 15px;
  color: #fafafafa;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}
.btn-more2:hover {
  background: #07aaeb;
  color: #000 !important;
}

header .w-60 {
  width: 60%;
}

header .w-30 {
  width: 30%;
}

main {
  font-family: "Poppins", sans-serif;
  color: #f5f0f0;
  line-height: 1.6;
  padding: 1.5em 1.5em;
}
main div h1 {
  text-align: center;
  font-size: 3em;
  padding-bottom: 40px;
}
main div div form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main div div form p {
  margin: 0em;
  padding: 1em;
}
main div div form p label {
  color: #f5f0f0;
}
main div div form p button {
  background: #b70e21;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}
main div div form p button:hover,
main div div form p button:focus {
  background: #d63031;
  color: #f5f0f0;
  transition: background-color 1s ease-out;
  outline: 0;
}
main div div form div {
  background-size: auto;
  background-color: #000;
  grid-column: 1 / 3;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}
main div div form div div {
  background-color: #000 !important;
}

.prod-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}

.T-sizeM {
  font-size: 1.5em;
}

.T-sizeS {
  font-size: 1em;
}

.p-size {
  padding: 2em;
}

.T-sizeL {
  font-size: 2em;
}

.bg-color3 {
  background-color: #181818;
  background-size: auto;
  border-radius: 20px;
  padding: 1.5em;
}

footer nav div ul li {
  list-style: none;
}

footer nav div li {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(img/grass.jpg);
}

.w-30 {
  width: 18rem;
}

.w-05 {
  width: 8rem;
}

.carritoCanvas {
    width: 100%;
    margin-top: -2rem;
    padding: 10px;
  }

.productoCanvas {
  display:flex;
  margin-right: 2rem;
  justify-content: space-evenly;
  align-items: center;
}

.totalStyle {
  margin-left: 315px;
  
}

.finCompra {
  margin-left: 305px;
}

.carritoBtn {
  display: flex;
  justify-content:end;
  margin-right: 15px;
}

.font {
  font-family: "Poppins", sans-serif;
  color: #f5f0f0;
  line-height: 1.6;
  padding: .5em .5em;
}